    $-black: #222222;
    $-light-pink: #F1E4E6;
    $-dark-pink:  #F16D7F;
    $-sales-background-color: #4f4745;
    $-white:#FFFFFF;
    $-dark-grey: #5D5D5D;
    $-light-grey: #F8F8F8;
    $-pink: #F26376;
    $-cream: #FBFBFB;
    $-brown: #222224;
    $-light-light-grey: #E1E1E1;

    $desktop-width: 1599px
    $tablet-width: 767px; 