.brand {
    display: flex;
    margin: 0 0 62px 0;

    &__title-wrp {
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;
        background-color: $light-pink;
    }
    &__title {
        @include font(48px, 58px, 900);
        text-transform: uppercase;
    }
    &__subtitle {
        display: block;
        @include font(37px, 44px, 700);
    }
    &__subtitle-pink {
        color: $dark-pink;
    }
}
