.brand {
    display: flex;
    margin: 0 0 62px 0;
    display: none;

    &__title-wrp {
        flex-grow: 1;
        padding: 0 0 0 68px;
        display: flex;
        align-items: center;
        background-color: $light-pink;

        @include tablet {
            padding: 0 0 0 68px;
        }

        @include mobile {
            min-height: 363px;
            padding: 0 0 0 92px;
        }
    }
    &__title {
        @include font(48px, 58px, 900);
        text-transform: uppercase;
        z-index: 1;
        display: block;
        position: relative;
        margin: 20px;

        @include tablet {
            @include font (52px, 44px, 900);
        }

        @include mobile {
            @include font (38px, 45px, 900);
        }
    }
    &__title:before {
        content: '';
        width: 12px;
        height: 92px;
        position: absolute;
        background-color: #F16D7F;
        left: -28px;
        top: 5px;
    }
    &__subtitle {
        display: block;
        @include font(37px, 44px, 700);
    }
  
    &__subtitle-pink {
        color: $dark-pink;
    }
    &__img {
        @include tablet {
            width: 50%;
            min-height: 370px;
            object-fit: cover;
        }
    @include mobile {
        display: none;
    }
    }
}
@include mobile {
    @include font (20px, 24px, 700)
}