.catalog {
.catalog__title {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include font(30px, 36px, 400);

    @include tablet {
      @include font (30px, 36px, 400);
  }

  @include mobile {
      @include font (30px, 36px, 400);
  }
}
.catalog__text {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include font(14зч, 17px, 400);
}
.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.catalog__item {
    width: 31.6%;
    min-height: 420px;
    margin: 50px 0 0 0;
    background-color: $light-grey;

    @include tablet-mid-width {
      width: 49%;
    }

    @include tablet-mobile-mid {
      width: 100%;
    }

    @include tablet {
      margin: 36px 0 0 0;
    }

    @include mobile {
      margin: 37px 0 0 0;
    }
}

.catalog__item-image {
width: 100%;
object-fit: cover;

@include tablet-mid-width {
  width: 49%;
}
}
.catalog__price {
    font-family: 'Lato';
    color: $dark-pink;
    margin: 18px 0 0 0;
    @include font(16px, 19px, 400);
}
.catalog__description {
font-family: 'Lato';
color: $dark-grey;
margin: 13px 0 0 0;
@include font(14px, 17px, 300);
}
.catalog__caption {
font-family: 'Lato';
color: $black;
margin: 25px 0 0 0;
@include font(13px, 16px, 400);
}
.catalog__button {
    width: 212px;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    letter-spacing: 0.04em;
    color: var(--white);
    padding: 15px 0;
    text-decoration: none;
    background-color: $dark-pink;
    border: 2px solid $red;
    @include font(16px, 19px, 400);

    @include tablet {
      margin: 33px auto;
    }
    @include mobile {
      margin: 41px auto;
    }
}
.cart-wrapper {
    position: relative;
}
.cart {
    min-height: 200px;
    width: 360px;
  }
  .overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
  }
  .button {
    position: absolute;
    top: 46%;  
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 14px 38px;
    font-family: 'Lato'; 
    @include font(14px, 17px, 400);
  }
  .cart-wrapper-overlay {
    position: relative;
  }
  .button-overlay {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cart-wrapper-overlay:before {
    content: '';
    width: 100%;
    min-height: 150px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
  }
  
  .overlay,
  .button {
    display: none;
  }
  
  .cart-wrapper-overlay:before {
    display: none;
  }
  
  .cart:hover .button,
  .cart:hover .overlay,
  .cart:hover .cart-wrapper-overlay:before {
    display: block;
  } 
}