.footer {
    background-color: $black;
}
.footer__wrp {
    display: flex;
    justify-content:space-between;
    min-height: 341px;
    align-items: center;
}
.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 341px;
}
.footer__item {
    justify-content: space-between;
}
.footer__main {
    background-color: $black;
}
.footer__link {
    display: block;
    margin: 0 0 0 150px;
}
.footer__title {
font-family: 'Lato';
color: $cream;
margin: 28px 0 16px;
text-align: center;
@include font(19ю96px, 24px, 400);
}
.footer__text {
    font-family: 'Lato';
    text-align: center;
    color: $cream;
    width: 360px;
    min-height: 34px;
    @include font(13.972px, 17px, 300);
}