.last__footer {
    background-color: $black;

    &__wrp {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
    }
    &__text {
        font-family: 'Lato';
    color: #FBFBFB;
    @include font(16px, 19px, 400);
    }
    &__buttom {
        border: none;
        background-color: transparent;
    }
  &__link {
        margin: 0 0 0 7px;
    }
    &__footer__list {
        display: flex;
    }
}
